.env
.DS_Store
Thumbs.db

node_modules/
vendor/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

wp-content/cache/
wp-content/languages/
wp-content/upgrade/
wp-content/uploads/*
!wp-content/uploads/.gitkeep
wp-content/debug.log
downloads/

wp-content/plugins/*
!wp-content/plugins/.gitkeep
!wp-content/mu-plugins/
!wp-content/mu-plugins/**

wp-content/themes/*
!wp-content/themes/cbn-theme/
!wp-content/themes/cbn-theme/**
wp-content/themes/cbn-theme/assets/dist/
